# Site
title:              Adhipradhana
bio:                'Sulthan Adhipradhana personal website'
description:        "Sulthan Adhipradhana personal website"
locale:             en_US
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://adhipradhana.me" # the base hostname & protocol for your site
background_image:   /images/nepal.jpg
# Tip: The color palette and other styles can be configured in /_sass/lib/_vars.scss

defaults:
- scope:
    path: ''
    type: posts
  values:
    permalink: "/blog/:title/"
    layout: post
    author: Sulthan Adhipradhana

# Jekyll
permalink:          /blog/:title/
markdown:           kramdown
highlighter:        rouge
kramdown:
  auto_ids:         true
  footnote_nr:      1
  entity_output:    as_char
  toc_levels:       1..6
  enable_coderay:   false
mathjax:            true
sass:
  sass_dir:         _sass
  style:            compressed

# Comments
disqus_shortname:   adhipradhana-me

# Social
analytics-id:       UA-132480158-1
twitter:            musangkuy
github:             adhipradhana
linkedin:           adhipradhana

# personal
location:           Bandung, Indonesia
phone:              62-8787-553-4556
email:              adhi.pradana.pradana@gmail.com

# Gems
plugins:
  - jekyll-mentions
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate

paginate: 6
paginate_path: "/blog/page:num/"

jekyll-mentions:
    base_url: https://github.com

# Exclude list
exclude: [README.md, Gemfile, Gemfile.lock, node_modules, gulpfile.js, package.json, _site, src, vendor, CNAME, LICENSE, Rakefile, old]
