---
layout: null
title: Adhipradhana - Home
description: Every great website starts with a great homepage. The homepage tells your viewers what your site is all about and gives your viewers a place to come back to.
sitemap:
    priority: 1.0
    lastmod: 2018-01-15
    changefreq: weekly
---
<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
            <h1>Sulthan Adhipradhana</h1>
						<h2>Part time programmer, Full time food tester</h2>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2>About Me</h2>
								</header>
								<div class="image-cropper"><img id="profile-picture" src="images/profile.jpg" align="middle" style="max-width: 400px;
									max-height: 400px;
									position: relative;
									overflow: hidden;
									border-radius: 50%;"/>
								</div>
								<br>
                <p>
									Hello there! My name is Muhamamad Sulthan Adhipradhana. I'm a 3rd year Computer Science student at Bandung Institute of Technology. I love to explore in any 
									Computer Science field especially computer system.
								</p>
								<p>
									Beside exploring, I also love trying new food, travelling (FYI, the background photo was taken in Annapurna Base Camp, Nepal),
									listening to any kind of music (my Spotify listening time in 2018 was 32,000 minutes), and binge-watching in Netflix.
								</p>
								<p>
									Feel free to contact me!
								</p>
							</article>
					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
